algorithm: pet
save_dir: 
  ./saved_models/config/adaptformer/pet-self-training/kitti/5-shot/dinov2
save_name: log
resume: true
load_path: 
  ./saved_models/config/adaptformer/pet-self-training/kitti/5-shot/dinov2/log/latest_model.pth
overwrite: true
use_tensorboard: true
use_wandb: false
epoch: 30
num_train_iter: 6330
num_log_iter: 52
num_eval_iter: 422
batch_size: 8
eval_batch_size: 16
num_warmup_iter: 158
num_labels: 20
ema_m: 0.0
img_size: 224
crop_ratio: 0.875
optim: AdamW
lr: 0.0001
layer_decay: 1.0
momentum: 0.9
weight_decay: 0.0005
amp: false
clip: 0.0
use_cat: true
net: timm/vit_base_patch14_reg4_dinov2.lvd142m
net_from_name: false
data_dir: ./data
dataset: kitti
train_sampler: RandomSampler
num_classes: 4
num_workers: 4
seed: 0
world_size: 1
rank: 0
gpu: None
use_pretrain: true
# VTAB settings
train_split: train
eval_on_test: true
evaluate_unsupervised: false
es_patience: 0.0
# PET settings
w_alpha: 0.0
s_alpha: 0.0
kd_w_alpha: 1.0
kd_s_alpha: 1.0
temperature: 1.0
budget: 1.0
pet_sources:
- "config/adaptformer/supervised/kitti/5-shot/dinov2/dpr-0.2/train-aug-strong/{'adapter_scaler':
  0.1, 'adapter_bottleneck': 4}/lr-1e-3/config.yaml"
pl_selection: balanced-max
logits_ensemble: voting
bootstrapping: true
peft_config:
  method_name: adaptformer
  ft_mlp_module: adapter
  ft_mlp_mode: parallel
  ft_mlp_ln: before
  adapter_init: lora_kaiming
  adapter_bottleneck: 16
  adapter_scaler: 0.1
vit_config:
  drop_path_rate: 0.0
pet_sources_rows:
- - adaptformer
  - supervised
  - kitti
  - 5-shot
  - dinov2
  - "['dpr-0.2', 'train-aug-strong', \"{'adapter_scaler': 0.1, 'adapter_bottleneck':
    4}\", 'lr-1e-3']"
  - 369.5213623046875
  - 0.2720953244483893
  - 0.24793293166975308
  - 0.2740166055720795
  - 0.47812150228514166
  - 135.4982452392578
  - 0.035769809037446976
  - 0.4135020971298218
  - '2025-12-30 18:02:35'
